{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- FondeX/contact-2.html  22 Nov 2019 10:04:03 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fondex - Smart NFC Business Card</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="FondeX - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/fondex material/bg-logo.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/fondex material/bg-logo.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/fondex material/bg-logo.png'%}">
    <link rel="manifest" href="{% static 'assets/images/icons/site.htl'%}">
    <link rel="mask-icon" href="{% static 'assets/images/icons/safari-pinned-tab.svg'%}" color="#666666">
    <link rel="shortcut icon" href="{% static 'assets/images/fondex material/bg-logo.png'%}">
    <meta name="apple-mobile-web-app-title" content="FondeX">
    <meta name="application-name" content="FondeX">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="{% static 'assets/images/icons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css'%}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl-carousel/owl.carousel.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/jquery.countdown.css'%}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/skins/skin-demo-4.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/demos/demo-4.css'%}">

</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <div class="header-dropdown">
                            <a href="#">
                                90 days to love it | 100% Risk free
                                
                                </a>
                            
                        </div><!-- End .header-dropdown -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#"></a>
                                <div class="social-icons social-icons-color justify-content-center">
                                <ul>
                                    <li><a href="https://www.linkedin.com/company/founders-community-in/" class="social-icon social-linkedin" title="linkedin" target="_blank"><i class="icon-linkedin-in"></i></a></li>
                                    <li><a href="http://www.instagram.com/fondex.in" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a></li>
                                    <li><a href="mailto:info.fondex.in@gmail.com" class="social-icon social-envelop" title="Email" target="_blank"><i class="icon-envelope"></i></a></li>
                                    <div class="col-md-4">
                                        <div class="contact-box text-center">
                                        </div><!-- End .contact-box -->
                                    </div><!-- End .col-md-4 -->
                                </ul>
                                
                            </li>
                            
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only"></span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="/" class="logo">
                            <img src="{% static 'assets/images/fondex material/bg-logoo2.png'%}" alt="FondeX Logo" width="105" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container ">
                                    <a href="/" class="">Home</a>
                                <li>
                                    <a href="/shop.html" class="">Shop</a>

                                    
                                <li>
                                    <a href="/about.html" class="">About Us</a>
                                <li>
                                    <a href="/contact.html" class="">Contact Us</a>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Checkout<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/shop.html">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Checkout</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->
            <div class="page-content">
            	<div class="checkout">
	                <div class="container">
            			<div class="checkout-discount">
            				
            			</div><!-- End .checkout-discount -->
            			<form method="POST" name="google-sheet">
		                	<div class="row">
		                		<div class="col-lg-9">
		                			<h2 class="checkout-title"><strong>Billing Details</strong></h2><!-- End .checkout-title -->
		                				<div class="row">
		                					<div class="col-sm-6">
		                						<label>Your Name *</label>
		                						<input name="User Name" type="text" class="form-control"required>
		                					</div><!-- End .col-sm-6 -->

		                					<div class="col-sm-6">
                                                <br>
		                						<label for="cars">Choose Your CARD: *</label>
		                						
                                                <select name="Card" id="cars">
                                                    <option name="Card" value="NFC Entrepreneurs Card" >NFC Entrepreneurs Card  </option>
                                                    <option name="Card" value="NFC Entrepreneurs Card Matte" >NFC Entrepreneurs Card Matte</option>
                                                    <option name="Card" value="NFC Creators Card " >NFC Creators Card</option>
                                                    <option name="Card" value="NFC Business Card " >NFC Business Card</option>
                                                    <option name="Card" value="NFC Gamer Card " >NFC Gamer Card</option>
                                                    <option name="Card" value="NFC Fondex Card " >NFC FondeX Card</option>
                                                </select>
		                					</div><!-- End .col-sm-6 -->
		                				</div><!-- End .row -->


	            						<label >Country *</label>
	            						<input name="Country" type="text" class="form-control"  placeholder="Country" required>

	            						<label>Street Address *</label>
	            						<input type="text" class="form-control" name="Street Address" placeholder="House number and Street name" required>

	            						<div class="row">
		                					<div class="col-sm-6">
		                						<label>Town / City</label>
		                						<input name="Town / City" type="text" class="form-control" required>
		                					</div><!-- End .col-sm-6 -->

		                					<div class="col-sm-6">
		                						<label>State / County *</label>
		                						<input name="State / County" type="text" class="form-control" required>
		                					</div><!-- End .col-sm-6 -->
		                				</div><!-- End .row -->

		                				<div class="row">
		                					<div class="col-sm-6">
		                						<label>Postcode / ZIP *</label>
		                						<input name="Postcode / ZIP" type="text" class="form-control" required>
		                					</div><!-- End .col-sm-6 -->

		                					<div class="col-sm-6">
		                						<label>Phone *</label>
		                						<input name="Phone" type="tel" class="form-control" required>
		                					</div><!-- End .col-sm-6 -->
		                					<div class="col-sm
                                            ">
		                						<label>WhatsApp Number *</label>
		                						<input name="WhatsApp Number" type="tel" class="form-control" required>
		                					</div><!-- End .col-sm-6 -->
		                				</div><!-- End .row -->

	                					<label>Email address *</label>
	        							<input name="Email address" type="email" class="form-control" required>
	                					<label>Order notes (optional)</label>
	        							<textarea name="Order notes" class="form-control" cols="30" rows="4" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
		                		</div><!-- End .col-lg-9 -->
		                		<aside class="col-lg-3">
		                			<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                        <table class="table table-summary">
		                					<thead>
		                						<tr>
		                							<th>Product</th>
		                							<th>Total</th>
		                						</tr>
		                					</thead>

		                					<tbody>
		                						
		                						<tr class="summary-subtotal">
		                							<td>Subtotal:</td>
		                							<td>₹799.00</td>
		                						</tr><!-- End .summary-subtotal -->
		                						<tr class="summary-subtotal">
		                							<td>Payment Tax:</td>
		                							<td>10%</td>
		                						</tr><!-- End .summary-subtotal -->
		                						<tr class="summary-subtotal">
		                							<td>Delivery Charge:</td>
		                							<td>Free</td>
		                						</tr><!-- End .summary-subtotal -->
		                						
		                						<tr class="summary-total">
		                							<td>Total:</td>
		                							<td>₹879.00</td>
		                						</tr><!-- End .summary-total -->
		                					</tbody>
		                				</table><!-- End .table table-summary -->

<!-- 
		                				<div class="accordion-summary" id="accordion-payment">
										    <div class="card">
										        <div class="card-header" id="heading-1">
										            <h2 class="card-title">
										                <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
										                    Direct bank transfer
										                </a>
										            </h2>
										        </div>
										        <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
										            <div class="card-body">
										                
										            </div>
										        </div>
										    </div>
										    <div class="card">
										        <div class="card-header" id="heading-2">
										            <h2 class="card-title">
										                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
										                    UPI Transfer
										                </a>
										            </h2>
										        </div>
										        <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
										            <div class="card-body">
										                Google Pay, Phone Pay, Paytm, Fampay
										            </div>
                                           </div>
										    </div>
										</div> -->
                                        <div id="paypal-button-container"></div>
                                         
                                        <div> <a href="upi://pay?pa=7083996201@fam&pn=Fondex&am=799&tn=NFC%20Entrepreneurs%20Card&cu=INR">
                                            <button type="submit" class="btn btn-outline-primary-2 btn-order btn-block">
                                                <span class="btn-text">Place Order</span>
                                                <span class="btn-hover-text">Proceed to Checkout</span>
                                            </button>
                                        </a>
                                    </div>
		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
            			</form>
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
        <footer class="footer footer-2">
            <div class="cta bg-image bg-dark pt-4 pb-5 mb-0" style="background-image: url({% static 'assets/images/demos/demo-4/bg-5.jpg'%});">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-sm-10 col-md-8 col-lg-6">
                            <div class="cta-heading text-center">
                                <h3 class="cta-title text-white">Get The Latest Deals</h3><!-- End .cta-title -->
                                <p class="cta-desc text-white">and receive <span class="font-weight-normal">₹99 coupon</span> for first shopping</p><!-- End .cta-desc -->
                            </div><!-- End .text-center -->
                        
                            <form method="POST" name='google-sheet'>
                                <div class="input-group input-group-round">
                                    <input name="E-mail" type="email" class="form-control form-control-white" placeholder="Enter your Email Address" aria-label="Email Adress" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit" value="submit"><span>Subscribe</span><i class="icon-long-arrow-right"></i></button>
                                    </div><!-- .End .input-group-append -->
                                </div><!-- .End .input-group -->
                            </form>
                        </div><!-- End .col-sm-10 col-md-8 col-lg-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .cta -->
            <div class="footer-middle border-0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="widget widget-about">
                                <img src="{% static 'assets/images/fondex material/bg-logoo2.png'%}" class="footer-logo" alt="Footer Logo" width="105" height="25">
                                <p>Welcome to the Founder's Community company Website! We are a vibrant and dynamic community dedicated to empowering and connecting founders from various industries. 🤝💼
                                </p>
                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">Got Question? Call us 24/7</span>
                                            <a href="tel:+91 97676 11297">+91 97676 11297</a>
                                        </div><!-- End .col-sm-6 -->
                                        <div class="col-sm-6 col-md-8">
                                            <span class="widget-about-title">Payment Method</span>
                                            <figure class="footer-payments">
                                                <img src="{% static 'assets/images/payments.png'%}" alt="Payment methods" width="272" height="20">
                                            </figure><!-- End .footer-payments -->
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-3 -->
    
                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">FondeX Cards</h4><!-- End .widget-title -->
    
                                <ul class="widget-list">
                                    <li><a class="" href="/p-01.html"> Entrepreneurs Card</a></li>
                                    <li><a class="" href="/p-01.html"> Metallic NFC Enabled Entrepreneurs Card</a></li>
                                    <li><a class="" href="/p-06.html">Fondex Card </a></li>
                                    <li><a class="" href="/p-03.html"> Creators Card </a></li>
                                    <li><a class="" href="/p-04.html"> Business Card:  </a></li>
                                    <li><a class="" href="/p-02.html"> NFC Entrepreneurs Card</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->
    
                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->
    
                                <ul class="widget-list">
                                    <li><a href="/shop.html">Shopping</a></li>
                                    <li><a href="/contact.html">Contact Us</a></li>
                                    <li><a href="/about.html">About Us</a></li>
                                    <li><a href="/terms-conditions.html">Terms and conditions</a></li>
                                    <li><a href="/Privacy-Policy.html">Privacy Policy</a></li>
                                    <li><a href="#faq">Any Query</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->
    
                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->
    
                                <ul class="widget-list">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/cart.html">View Cart</a></li>
                                    <li><a href="/shop.html">Shop</a></li>
                                    <li><a href="/cart.html">CheckOut</a></li>
                                    <li><a href="/Privacy-Policy.html">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-64 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->
    
            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2023 Fondex Community. 
                    <ul class="footer-menu">
                        <li>Developed  By - <a href="https://WebWrite.tech" target="_blank"><strong class="webwrite">WebWrite Technologies</strong></a></li>
                        
                    </ul><!-- End .footer-menu -->
    
                    <div class="social-icons social-icons-color">
                        <span class="social-label">Social Media</span>
                        <a href="https://www.linkedin.com/company/founders-community-in/" class="social-icon social-linkedin" title="linkedin" target="_blank"><i class="icon-linkedin-in"></i></a>
                        <a href="http://www.instagram.com/fondex.in" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                        <a href="mailto:info.fondex.in@gmail.com" class="social-icon social-envolve" title="Email" target="_blank"><i class="icon-envelope"></i></a>
                        
                    </div><!-- End .soial-icons -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    
        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    
        <!-- Mobile Menu -->
        <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->
    
        <div class="mobile-menu-container mobile-menu-light">
            <div class="mobile-menu-wrapper">
                <span class="mobile-menu-close"><i class="icon-close"></i></span>
                
                <form method="get">
                    <select name="Card" id="cars" onchange="window.location.href=this.value">
                        <option name="Card" value="#">Choose Your Card for Purchase</option>
                        <option name="Card" value="/p-01.html">Entrepreneurs Card (Normal)</option>
                        <option name="Card" value="/p-02.html">NFC Entrepreneurs</option>
                        <option name="Card" value="/p-03.html">Creators Card(NFC)</option>
                        <option name="Card" value="/p-04.html">Business Card(NFC)</option>
                        <option name="Card" value="/p-05.html">Gamer Card(NFC)</option>
                        <option name="Card" value="/p-06.html">FondeX Card(NFC)</option>
                    </select>
            </form>
    
                <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab" aria-controls="mobile-cats-tab" aria-selected="false">Categories</a>
                    </li>
                </ul>
    
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel" aria-labelledby="mobile-menu-link">
                        <nav class="mobile-nav">
                            <ul class="mobile-menu">
                                <li class="active">
                                    <a href="index.html">Home</a>
                                    <a href="shop.html">Shop</a>
                                    <a href="about.html">About Us</a>
                                    <a href="contact.html">Contact Us</a>
    
                                   
                                </li>
                                
                        </nav><!-- End .mobile-nav -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                        <nav class="mobile-cats-nav">
                            <ul class="mobile-cats-menu">
                                <li><a class="mobile-cats-lead" href="#"> Entrepreneurs Card</a></li>
                                <li><a class="mobile-cats-lead" href="#"> Metallic NFC Enabled Entrepreneurs Card</a></li>
                                <li><a class="mobile-cats-lead" href="#">Fondex Card </a></li>
                                <li><a class="mobile-cats-lead" href="#"> Creators Card </a></li>
                                <li><a class="mobile-cats-lead" href="#"> Business Card:  </a></li>
                                <li><a class="mobile-cats-lead" href="#"> NFC Entrepreneurs Card</a></li>
                                
                            </ul><!-- End .mobile-cats-menu -->
                        </nav><!-- End .mobile-cats-nav -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
    
                <div class="social-icons">
                    <a href="https://www.linkedin.com/company/founders-community-in/" class="social-icon" target="_blank" title="linkedin"><i class="icon-linkedin"></i></a>
                    
                    <a href="http://www.instagram.com/fondex.in" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                  
                </div><!-- End .social-icons -->
            </div><!-- End .mobile-menu-wrapper -->
        </div><!-- End .mobile-menu-container -->
    
        
    
       
        <!-- Plugins JS File -->
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.hoverIntent.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'assets/js/superfish.min.js' %}"></script>
        <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'assets/js/bootstrap-input-spinner.js' %}"></script>
        <script src="{% static 'assets/js/jquery.plugin.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>
        <script src="{% static 'assets/js/jquery.countTo.js' %}"></script>
        <script src="{% static 'assets/js/jquery.countdown.min.js' %}"></script>

        <!-- Main JS File -->
        <script src="{% static 'assets/js/main.js' %}"></script>
        <script src="assets/js/demos/demo-4.js' %}"></script>
        <script src="{% static 'assets/js/demos/demo-2.js' %}"></script>
        {% comment %} <script src="{% static 'assets/js/cart.js' %}"></script> {% endcomment %}
        {% comment %} <script type="text/javascript" src="{% static 'js/cart.js'%}"></script> {% endcomment %}
        {% comment %} <script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script> {% endcomment %}

        <script>
            const scriptURL = 'https://script.google.com/macros/s/AKfycbyaEZKZiBqsr9ewSNkqDN3P3kpk9WOtKOgZx-89O-oe1Z56_7EzvfDlOZZSO1bITsKsRw/exec'
            const form = document.forms['google-sheet']
          
            form.addEventListener('submit', e => {
              e.preventDefault()
              fetch(scriptURL, { method: 'POST', body: new FormData(form)})
                .then(response => alert("Thanks for Contacting us..! We Will Contact You Soon..."))
                .catch(error => console.error('Error!', error.message))
            })
        </script>
        {% comment %} <!-- Include the PayPal JavaScript SDK -->
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
        <script>
            var options = {
                "key": "rzp_test_exQoDpaNwQx16c", // Enter the Key ID generated from the Dashboard
                "amount": "50000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "Ecomm",
                "description": "Purchasing things",
                "image": "https://example.com/your_logo",
                "order_id": "order_IluGWxBm9U8zJ8", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                "handler": function (response){
                    alert(response.razorpay_payment_id);
                    alert(response.razorpay_order_id);
                    alert(response.razorpay_signature)
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.on('payment.failed', function (response){
                    alert(response.error.code);
                    alert(response.error.description);
                    alert(response.error.source);
                    alert(response.error.step);
                    alert(response.error.reason);
                    alert(response.error.metadata.order_id);
                    alert(response.error.metadata.payment_id);
            });
            document.getElementById('rzp-button1').onclick = function(e){
                rzp1.open();
                e.preventDefault();
            }
        </script> {% endcomment %}

    </body>

    </html>