{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fondex - Smart NFC Business Card</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Fondex - Smart NFC Business Card">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/fondex material/bg-logo.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/fondex material/bg-logo.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/fondex material/bg-logo.png' %}">
    <link rel="manifest" href="{% static 'assets/images/icons/site.htl">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="{% static 'assets/images/fondex material/bg-logo.png">
    <meta name="apple-mobile-web-app-title" content="FondeX">
    <meta name="application-name" content="FondeX">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="{% static 'assets/images/icons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/jquery.countdown.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/skins/skin-demo-4.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/demos/demo-4.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/demos/demo-2.css' %}">
    
</head>


<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                        <div class="header-dropdown">
                            <a href="#">
                                90 days to love it | 100% Risk free
                                
                                </a>
                            
                        </div><!-- End .header-dropdown -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#"></a>
                                <div class="social-icons social-icons-color justify-content-center">
                                <ul>
                                    <li><a href="https://www.linkedin.com/company/founders-community-in/" class="social-icon social-linkedin" title="linkedin" target="_blank"><i class="icon-linkedin-in"></i></a></li>
                                    <li><a href="http://www.instagram.com/fondex.in" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a></li>
                                    <li><a href="mailto:info.fondex.in@gmail.com" class="social-icon social-envelop" title="Email" target="_blank"><i class="icon-envelope"></i></a></li>
                                    <div class="col-md-4">
                                        <div class="contact-box text-center">
                                        </div><!-- End .contact-box -->
                                    </div><!-- End .col-md-4 -->
                                </ul>
                                
                            </li>
                            
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only"></span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="/" class="logo">
                            <img src="{% static 'assets/images/fondex material/bg-logoo2.png'%}" alt="FondeX Logo" width="105" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container ">
                                    <a href="/" class="">Home</a>
                                <li>
                                    <a href="/shop.html" class="">Shop</a>

                                    
                                <li>
                                    <a href="/about.html" class="">About Us</a>
                                <li>
                                    <a href="/contact.html" class="">Contact Us</a>
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/shop.html">Products</a></li>
                        <li class="breadcrumb-item"><a href="#">Creators Cards</a></li>
                        
                    </ol>
                    <nav class="product-pager ml-auto" aria-label="Product">
                        <a class="product-pager-link product-pager-prev" href="/p-02.html" aria-label="Previous" tabindex="-1">
                            <i class="icon-angle-left"></i>
                            <span>Prev</span>
                        </a>

                        <a class="product-pager-link product-pager-next" href="/p-04.html" aria-label="Next" tabindex="-1">
                            <span>Next</span>
                            <i class="icon-angle-right"></i>
                        </a>
                    </nav>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <div class="product-details-top">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical">
                                    <div class="row">
                                        <figure class="product-main-image">
                                            <img id="product-zoom" src="{% static 'assets/images/fondex material/cards/creato.png' %}" data-zoom-image="{% static 'assets/images/fondex material/cards/creato.png' %}" alt="product image">

                                            <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                <i class="icon-arrows"></i>
                                            </a>
                                        </figure><!-- End .product-main-image -->

                                        <div id="product-zoom-gallery" class="product-image-gallery">
                                            <a class="product-gallery-item active" href="#" data-image="{% static 'assets/images/fondex material/cards/g-card' %}.png" data-zoom-image="{% static 'assets/images/fondex material/cards/creato.png' %}">
                                                <img src="{% static 'assets/images/fondex material/cards/creato.png' %}" alt="product side">
                                            </a>

                                            <a class="product-gallery-item" href="#" data-image="{% static 'assets/images/fondex material/cards/creato.png' %}" data-zoom-image="{% static 'assets/images/fondex material/cards/creato.png' %}">
                                                <img src="{% static 'assets/images/fondex material/cards/creato.png' %}" alt="product cross">
                                            </a>

                                            <a class="product-gallery-item" href="#" data-image="{% static 'assets/images/fondex material/cards/creato.png' %}" data-zoom-image="{% static 'assets/images/fondex material/cards/creato.png' %}">
                                                <img src="{% static 'assets/images/fondex material/cards/creato.png' %}" alt="product with model">
                                            </a>

                                            <a class="product-gallery-item" href="#" data-image="{% static 'assets/images/fondex material/cards/creato.png' %}" data-zoom-image="{% static 'assets/images/fondex material/cards/creato.png' %}">
                                                <img src="{% static 'assets/images/fondex material/cards/creato.png' %}" alt="product back">
                                            </a>
                                        </div><!-- End .product-image-gallery -->
                                    </div><!-- End .row -->
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="product-details product-details-centered">
                                    <h1 class="product-title">Creators Card (NFC)</h1><!-- End .product-title -->

                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <a class="ratings-text" href="#product-review-link" id="review-link">( 10 Reviews )</a>
                                    </div><!-- End .rating-container -->

                                    <div class="product-price">
                                        ₹799.00
                                    </div><!-- End .product-price -->

                                    <div class="product-content">
                                        <p>The Creators Card, powered by NFC technology, bridges the gap between creators and collaborators. Share your unique vision, connect digitally, and explore opportunities with fellow creators. This card is your key to a network that nurtures innovation.</p>
                                    </div><!-- End .product-content -->
                                       

                                    <div class="product-details-action">
                                        <div class="details-action-col"><div class="details-filter-row details-row-size">
                                            
                                           

                                            <a href="#" class="btn-product btn-cart">Out of Stock</a>
                                        </div><!-- End .details-action-col -->
                                        </div>

                                        
                                    </div><!-- End .product-details-action -->

                                    <div class="product-details-footer">
                                        <div class="product-cat">
                                            <span>Category:</span>
                                            <a href="#">NFC Cards</a>,
                                            <a href="#"></a>,
                                            <a href="#"></a>
                                        </div><!-- End .product-cat -->

                                       
                                    </div><!-- End .product-details-footer -->
                                </div><!-- End .product-details -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->

                    <div class="product-details-tab">
                        <ul class="nav nav-pills justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Additional information</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab" aria-selected="false"></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false"></a>
                            </li> -->
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                                <div class="product-desc-content">
                                    <h3>Product Information</h3>
                                    <p>
                                        The Creators Card, powered by NFC technology, bridges the gap between creators and collaborators. Share your unique vision, connect digitally, and explore opportunities with fellow creators. This card is your key to a network that nurtures innovation.
                                         </p>
                                    <ul>
                                        <li>Product Name: Creators  Card
                                            
                                            </li>
                                        <li>Product Tagline: For Innovators, by Innovators</li>
                                    </ul>

                                    <p></p>
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                                <div class="product-desc-content">
                                    <h3>Product Advantages:</h3>
                                    <p>
                                         </p>

                                    <h3></h3>
                                    <ul>
                                        <li>Collaborative Networking: Easily share your creative ventures by tapping your card, fostering collaborative relationships.</li>
                                        <li>Digital Exploration: Access your digital portfolio through the integrated QR code, showcasing your creative prowess.</li>
                                        <li> Community of Innovation: Join a community that encourages creative exploration, interaction, and collective growth.
                                        </li>
                                        
                                    </ul>

                                    <h3></h3>
                                    <p></p>
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <!-- <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
                                <div class="product-desc-content">
                                    <h3>Delivery & returns</h3>
                                    <p>We deliver to over 100 countries around the world. For full details of the delivery options we offer, please view our <a href="#">Delivery information</a><br>
                                    We hope you’ll love every purchase, but if you ever need to return an item you can do so within a month of receipt. For full details of how to make a return, please view our <a href="#">Returns information</a></p>
                                </div>
                            </div> -->
                            <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                                <!-- <div class="reviews">
                                    <h3>Reviews (2)</h3>
                                    <div class="review">
                                        <div class="row no-gutters">
                                            <div class="col-auto">
                                                <h4><a href="#">Samanta J.</a></h4>
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 80%;"></div>
                                                    </div>
                                                </div>
                                                <span class="review-date">6 days ago</span>
                                            </div>
                                            <div class="col">
                                                <h4>Good, perfect size</h4>

                                                <div class="review-content">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cum dolores assumenda asperiores facilis porro reprehenderit animi culpa atque blanditiis commodi perspiciatis doloremque, possimus, explicabo, autem fugit beatae quae voluptas!</p>
                                                </div>

                                                <div class="review-action">
                                                    <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                                                    <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->

                                   
                                </div><!-- End .reviews -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .product-details-tab -->

                    <h2 class="title text-center mb-4">You May Also Like</h2><!-- End .title text-center -->
                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
                        <div class="product product-7 text-center">
                            <figure class="product-media">
                                <span class="product-label label-out">Out of Stock</span>
                                <a href="/p-03.html">
                                    <img src="{% static 'assets/images/fondex material/cards/creato.png' %}" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    
                                    
                                </div><!-- End .product-action-vertical -->

                                <div class="product-action">
                                    <a href="/product.html" class="btn-product btn-cart"><span>Out of Stock</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">NFC Cards</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="/product.html">Creators Card (NFC)<br></a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    ₹849.00
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 85%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 20 Reviews )</span>
                                </div><!-- End .rating-container -->

                                
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product product-7 text-center">
                            <figure class="product-media">
                                
                                <span class="product-label label-new">New</span>
                                <a href="/p-02.html">
                                    <img src="{% static 'assets/images/fondex material/cards/g-card2.png' %}
                                    " alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    
                                    
                                </div><!-- End .product-action-vertical -->

                                <div class="product-action">
                                    <a href="/checkout.html" class="btn-product btn-cart"><span>Buy Now</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">NFC Cards</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="/p-02.html">NFC Entrepreneurs Card</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <span class="out-price">₹849.00</span>
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 6 Reviews )</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product product-7 text-center">
                            <figure class="product-media">
                                <span class="product-label label-out">Out of Stock</span>
                                <a href="/p-04.html">
                                    <img src="{% static 'assets/images/fondex material/founder.png' %}" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    
                                    
                                </div><!-- End .product-action-vertical -->

                                <div class="product-action">
                                    <a href="/product.html" class="btn-product btn-cart"><span>Out of Stock</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">NFC Cards</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="/product.html">Business Card (NFC)</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    ₹849.00
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 12 Reviews )</span>
                                </div><!-- End .rating-container -->

                                
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product product-7 text-center">
                            <figure class="product-media">
                                <span class="product-label label-out">Out of Stock</span>
                                <a href="/p-06.html">
                                    <img src="{% static 'assets/images/fondex material/card1-bg.png' %}" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    
                                    
                                </div><!-- End .product-action-vertical -->

                                <div class="product-action">
                                    <a href="/product.html" class="btn-product btn-cart"><span>Out of Stock</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">NFC Cards</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="/product.html">Fondex Card (NFC)</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    ₹849.00
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 0%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 0 Reviews )</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->
                    </div><!-- End .owl-carousel -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->


        <footer class="footer footer-2">
            <div class="cta bg-image bg-dark pt-4 pb-5 mb-0" style="background-image: url({% static 'assets/images/demos/demo-4/bg-5.jpg'%});">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-sm-10 col-md-8 col-lg-6">
                            <div class="cta-heading text-center">
                                <h3 class="cta-title text-white">Get The Latest Deals</h3><!-- End .cta-title -->
                                <p class="cta-desc text-white">and receive <span class="font-weight-normal">₹99 coupon</span> for first shopping</p><!-- End .cta-desc -->
                            </div><!-- End .text-center -->
                        
                            <form method="POST" name='google-sheet'>
                                <div class="input-group input-group-round">
                                    <input name="E-mail" type="email" class="form-control form-control-white" placeholder="Enter your Email Address" aria-label="Email Adress" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit" value="submit"><span>Subscribe</span><i class="icon-long-arrow-right"></i></button>
                                    </div><!-- .End .input-group-append -->
                                </div><!-- .End .input-group -->
                            </form>
                        </div><!-- End .col-sm-10 col-md-8 col-lg-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .cta -->
            <div class="footer-middle border-0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="widget widget-about">
                                <img src="{% static 'assets/images/fondex material/bg-logoo2.png'%}" class="footer-logo" alt="Footer Logo" width="105" height="25">
                                <p>Welcome to the Founder's Community company Website! We are a vibrant and dynamic community dedicated to empowering and connecting founders from various industries. 🤝💼
                                </p>
                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">Got Question? Call us 24/7</span>
                                            <a href="tel:+91 97676 11297">+91 97676 11297</a>
                                        </div><!-- End .col-sm-6 -->
                                        <div class="col-sm-6 col-md-8">
                                            <span class="widget-about-title">Payment Method</span>
                                            <figure class="footer-payments">
                                                <img src="{% static 'assets/images/payments.png'%}" alt="Payment methods" width="272" height="20">
                                            </figure><!-- End .footer-payments -->
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-3 -->
    
                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">FondeX Cards</h4><!-- End .widget-title -->
    
                                <ul class="widget-list">
                                    <li><a class="" href="/p-01.html"> Entrepreneurs Card</a></li>
                                    <li><a class="" href="/p-01.html"> Metallic NFC Enabled Entrepreneurs Card</a></li>
                                    <li><a class="" href="/p-06.html">Fondex Card </a></li>
                                    <li><a class="" href="/p-03.html"> Creators Card </a></li>
                                    <li><a class="" href="/p-04.html"> Business Card:  </a></li>
                                    <li><a class="" href="/p-02.html"> NFC Entrepreneurs Card</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->
    
                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->
    
                                <ul class="widget-list">
                                    <li><a href="/shop.html">Shopping</a></li>
                                    <li><a href="/contact.html">Contact Us</a></li>
                                    <li><a href="/about.html">About Us</a></li>
                                    <li><a href="/terms-conditions.html">Terms and conditions</a></li>
                                    <li><a href="/Privacy-Policy.html">Privacy Policy</a></li>
                                    <li><a href="#faq">Any Query</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->
    
                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->
    
                                <ul class="widget-list">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/cart.html">View Cart</a></li>
                                    <li><a href="/shop.html">Shop</a></li>
                                    <li><a href="/cart.html">CheckOut</a></li>
                                    <li><a href="/Privacy-Policy.html">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-64 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->
    
            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2023 Fondex Community. 
                    <ul class="footer-menu">
                        <li>Developed  By - <a href="https://WebWrite.tech" target="_blank"><strong class="webwrite">WebWrite Technologies</strong></a></li>
                        
                    </ul><!-- End .footer-menu -->
    
                    <div class="social-icons social-icons-color">
                        <span class="social-label">Social Media</span>
                        <a href="https://www.linkedin.com/company/founders-community-in/" class="social-icon social-linkedin" title="linkedin" target="_blank"><i class="icon-linkedin-in"></i></a>
                        <a href="http://www.instagram.com/fondex.in" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                        <a href="mailto:info.fondex.in@gmail.com" class="social-icon social-envolve" title="Email" target="_blank"><i class="icon-envelope"></i></a>
                        
                    </div><!-- End .soial-icons -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    
        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    
        <!-- Mobile Menu -->
        <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->
    
        <div class="mobile-menu-container mobile-menu-light">
            <div class="mobile-menu-wrapper">
                <span class="mobile-menu-close"><i class="icon-close"></i></span>
                
                <form method="get">
                    <select name="Card" id="cars" onchange="window.location.href=this.value">
                        <option name="Card" value="#">Choose Your Card for Purchase</option>
                        <option name="Card" value="/p-01.html">Entrepreneurs Card (Normal)</option>
                        <option name="Card" value="/p-02.html">NFC Entrepreneurs</option>
                        <option name="Card" value="/p-03.html">Creators Card(NFC)</option>
                        <option name="Card" value="/p-04.html">Business Card(NFC)</option>
                        <option name="Card" value="/p-05.html">Gamer Card(NFC)</option>
                        <option name="Card" value="/p-06.html">FondeX Card(NFC)</option>
                    </select>
            </form>
    
                <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab" aria-controls="mobile-cats-tab" aria-selected="false">Categories</a>
                    </li>
                </ul>
    
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel" aria-labelledby="mobile-menu-link">
                        <nav class="mobile-nav">
                            <ul class="mobile-menu">
                                <li class="active">
                                    <a href="/">Home</a>
                                    <a href="/shop.html">Shop</a>
                                    <a href="/about.html">About Us</a>
                                    <a href="/contact.html">Contact Us</a>
    
                                   
                                </li>
                                
                        </nav><!-- End .mobile-nav -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                        <nav class="mobile-cats-nav">
                            <ul class="mobile-cats-menu">
                                <li><a class="mobile-cats-lead" href="#"> Entrepreneurs Card</a></li>
                                <li><a class="mobile-cats-lead" href="#"> Metallic NFC Enabled Entrepreneurs Card</a></li>
                                <li><a class="mobile-cats-lead" href="#">Fondex Card </a></li>
                                <li><a class="mobile-cats-lead" href="#"> Creators Card </a></li>
                                <li><a class="mobile-cats-lead" href="#"> Business Card:  </a></li>
                                <li><a class="mobile-cats-lead" href="#"> NFC Entrepreneurs Card</a></li>
                                
                            </ul><!-- End .mobile-cats-menu -->
                        </nav><!-- End .mobile-cats-nav -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
    
                <div class="social-icons">
                    <a href="https://www.linkedin.com/company/founders-community-in/" class="social-icon" target="_blank" title="linkedin"><i class="icon-linkedin"></i></a>
                    
                    <a href="http://www.instagram.com/fondex.in" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                  
                </div><!-- End .social-icons -->
            </div><!-- End .mobile-menu-wrapper -->
        </div><!-- End .mobile-menu-container -->
    
        
    
       
        
        <script src="{% static 'assets/js/jquery.min.js'%}"></script>
        <script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>
        <script src="{% static 'assets/js/jquery.hoverIntent.min.js'%}"></script>
        <script src="{% static 'assets/js/jquery.waypoints.min.js'%}"></script>
        <script src="{% static 'assets/js/superfish.min.js'%}"></script>
        <script src="{% static 'assets/js/owl.carousel.min.js'%}"></script>
        <script src="{% static 'assets/js/bootstrap-input-spinner.js'%}"></script>
        <script src="{% static 'assets/js/jquery.plugin.min.js'%}"></script>
        <script src="{% static 'assets/js/jquery.magnific-popup.min.js'%}"></script>
        <script src="{% static 'assets/js/jquery.countdown.min.js'%}"></script>
        <script src="{% static 'assets/js/jquery.countTo.js'%}"></script>
        <script src="{% static 'assets/js/jquery.countdown.min.js'%}"></script>
    
        <!-- Main JS File -->
        <script src="{% static 'assets/js/main.js'%}"></script>
        <script src="{% static 'assets/js/demos/demo-4.js'%}"></script>
        <script src="{% static 'assets/js/demos/demo-2.js'%}"></script>
        <script src="{% static 'assets/js/search.js'%}"></script>
    
    </body>
    
    
    
    </html>