{% load static %}
<!DOCTYPE html>
<html lang="en">


<!-- FondeX/contact-2.html  22 Nov 2019 10:04:03 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fondex - Smart NFC Business Card</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="FondeX - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/fondex material/bg-logo.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/fondex material/bg-logo.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/fondex material/bg-logo.png' %}">
    <link rel="manifest" href="{% static 'assets/images/icons/site.htl'%}">
    <link rel="mask-icon" href="{% static 'assets/images/icons/safari-pinned-tab.svg' %}" color="#666666">
    <link rel="shortcut icon" href="{% static 'assets/images/fondex material/bg-logo.png' %}">
    <meta name="apple-mobile-web-app-title" content="FondeX">
    <meta name="application-name" content="FondeX">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="{% static 'assets/images/icons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/jquery.countdown.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/nouislider/nouislider.css' %}">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/skins/skin-demo-4.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/demos/demo-4.css' %}">

    <!--Add-to-Cart JS-->
    <script type="text/javascript">
        var user = '{{request.user}}'

	</script>



</head>

<body>
    <div class="page-wrapper">
        <header class="header">
            <div class="header-top">
                <div class="container">
                    <div class="header-left">
                       

                        <div class="header-dropdown">
                            <a href="#">
                                90 days to love it | 100% Risk free
                                
                                </a>
                            
                        </div><!-- End .header-dropdown -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#"></a>
                                <div class="social-icons social-icons-color justify-content-center">
                                <ul>
                                   
                                    
                                    <li><a href="https://www.linkedin.com/company/founders-community-in/" class="social-icon social-linkedin" title="linkedin" target="_blank"><i class="icon-linkedin-in"></i></a></li>
                                    <li><a href="http://www.instagram.com/fondex.in" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a></li>
                                    <li><a href="mailto:info.fondex.in@gmail.com" class="social-icon social-envelop" title="Email" target="_blank"><i class="icon-envelope"></i></a></li>






                                    

                                    
                                    <div class="col-md-4">
                                        <div class="contact-box text-center">
                                           
            
                                        </div><!-- End .contact-box -->
                                    </div><!-- End .col-md-4 -->
                                </ul>
                                
                            </li>
                            
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle sticky-header">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only"></span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="/" class="logo">
                            <img src="{% static 'assets/images/fondex material/bg-logoo2.png' %}" alt="FondeX Logo" width="105" height="25">
                        </a>

                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container ">
                                    <a href="/" class="">Home</a>

                                 
                                    <li class="megamenu-container">
                                        <a href="/shop.html" class="">Shop</a>
                                    </li>
                                    
                                    <li class="megamenu-container active">
                                        <a href="/about.html" class="">About Us</a>
                                    </li>
                                <li>
                                    <a href="/contact.html" class="">Contact Us</a>

                                    
                             
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search">
                            <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                       

                        {% comment %} <div class="dropdown cart-dropdown">
                            <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                <i class="icon-shopping-cart"></i>
                                <span class="cart-count">2</span>
                            </a>

                            <div class="dropdown-menu dropdown-menu-right">
                                <div class="dropdown-cart-products">
                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="/product.html">Beige knitted elastic runner shoes</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x ₹84.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="/product.html" class="product-image">
                                                <img src="{% static 'assets/images/products/cart/product-1.jpg' %}" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div><!-- End .product -->

                                    <div class="product">
                                        <div class="product-cart-details">
                                            <h4 class="product-title">
                                                <a href="/product.html">Blue utility pinafore denim dress</a>
                                            </h4>

                                            <span class="cart-product-info">
                                                <span class="cart-product-qty">1</span>
                                                x ₹76.00
                                            </span>
                                        </div><!-- End .product-cart-details -->

                                        <figure class="product-image-container">
                                            <a href="/product.html" class="product-image">
                                                <img src="{% static 'assets/images/products/cart/product-2.jpg' %}" alt="product">
                                            </a>
                                        </figure>
                                        <a href="#" class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                    </div><!-- End .product -->
                                </div><!-- End .cart-product -->

                                <div class="dropdown-cart-total">
                                    <span>Total</span>

                                    <span class="cart-total-price">₹160.00</span>
                                </div><!-- End .dropdown-cart-total -->

                                <div class="dropdown-cart-action">
                                    <a href="/cart.html" class="btn btn-primary">View Cart</a>
                                    <a href="/checkout.html" class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                </div><!-- End .dropdown-cart-total -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .cart-dropdown --> {% endcomment %}
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
        </header><!-- End .header -->

        <main class="main">
            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
                <div class="container d-flex align-items-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/shop.html">Products</a></li>
                        <li class="breadcrumb-item"><a href="#">Entrepreneurs Cards</a></li>
                        
                    </ol>

                    <nav class="product-pager ml-auto" aria-label="Product">
                        <a class="product-pager-link product-pager-prev" href="#" aria-label="Previous" tabindex="-1">
                            <i class="icon-angle-left"></i>
                            <span>Prev</span>
                        </a>

                        <a class="product-pager-link product-pager-next" href="#" aria-label="Next" tabindex="-1">
                            <span>Next</span>
                            <i class="icon-angle-right"></i>
                        </a>
                    </nav><!-- End .pager-nav -->
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                    <div class="product-details-top">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical">
                                    <div class="row">
                                        <figure class="product-main-image">
                                            <img id="product-zoom" src="{% static 'assets/images/fondex material/cards/g-card.png' %}" data-zoom-image="{% static 'assets/images/fondex material/cards/g-card.png' %}" alt="product image">

                                            <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                <i class="icon-arrows"></i>
                                            </a>
                                        </figure><!-- End .product-main-image -->

                                        <div id="product-zoom-gallery" class="product-image-gallery">
                                            <a class="product-gallery-item active" href="#" data-image="{% static 'assets/images/fondex material/cards/g-card.png'%}" data-zoom-image="{% static 'assets/images/fondex material/cards/g-card.png'%}">
                                                <img src="{% static 'assets/images/fondex material/cards/g-card.png'%}" alt="product side">
                                            </a>

                                            <a class="product-gallery-item" href="#" data-image="{% static 'assets/images/fondex material/cards/g-card.png' %}" data-zoom-image="{% static 'assets/images/fondex material/cards/g-card.png' %}">
                                                <img src="{% static 'assets/images/fondex material/cards/g-card.png' %}" alt="product cross">
                                            </a>

                                            <a class="product-gallery-item" href="#" data-image="{% static 'assets/images/fondex material/cards/g-card.png' %}" data-zoom-image="{% static 'assets/images/fondex material/cards/g-card.png' %}">
                                                <img src="{% static 'assets/images/fondex material/cards/g-card.png' %}" alt="product with model">
                                            </a>

                                            <a class="product-gallery-item" href="#" data-image="{% static 'assets/images/fondex material/cards/g-card.png' %}" data-zoom-image="{% static 'assets/images/fondex material/cards/g-card.png' %}">
                                                <img src="{% static 'assets/images/fondex material/cards/g-card.png' %}" alt="product back">
                                            </a>
                                        </div><!-- End .product-image-gallery -->
                                    </div><!-- End .row -->
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="product-details product-details-centered">
                                    <h1 class="product-title">Entrepreneurs Cards (Metallic)</h1><!-- End .product-title -->

                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <a class="ratings-text" href="#product-review-link" id="review-link">( 10 Reviews )</a>
                                    </div><!-- End .rating-container -->

                                    <div class="product-price">
                                        ₹599.00
                                    </div><!-- End .product-price -->

                                    <div class="product-content">
                                        <p> Our Entrepreneurs Cards is more than a mere cards, its your entry into a thriving network of fellow visionaries.</p>
                                    </div><!-- End .product-content -->

                                    <div class="details-filter-row details-row-size">
                                        <label>Variety :</label>

                                        <div class="row">
                                            <div class="col-6 col-lg-4 col-xl-2">
                                                <div class="btn-wrap">
                                                    <a href="#" class="btn btn-primary btn-rounded">Normal Card</a>
                                                    <br><br>
                                                    <a href="#" class="btn btn-primary btn-rounded">Matallic Card</a>
                                                </div><!-- End .btn-wrap -->
                                            </div><!-- End .col-md-4 col-lg-2 -->

                                            </div>
                                    </div><!-- End .details-filter-row -->
                                       <br>
                                       
                                       <div class="product-details-action">
                                            {% comment %} <div class="details-action-col">
                                               <label for="qty">Qty:</label>
                                                <div class="product-details-quantity">
                                                   <input type="number" id="qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required>
                                                </div><!-- End .product-details-quantity -->
                                            </div><!-- End .details-action-col --> {% endcomment %}
                                            {% comment %} {% for product in products %} {% endcomment %}
                                            <a href="/checkout.html" data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Buy Now</a>
                                            {% comment %} {% endfor %} {% endcomment %}

                                        </div>

                                    </div><!-- End .product-details-action -->

                                    <div class="product-details-footer">
                                        <div class="product-cat">
                                            <span>Category:</span>
                                            <a href="#">NFC Cards</a>,
                                            <a href="#"></a>,
                                            <a href="#"></a>
                                        </div><!-- End .product-cat -->

                                       
                                    </div><!-- End .product-details-footer -->
                                </div><!-- End .product-details -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->

                    <div class="product-details-tab">
                        <ul class="nav nav-pills justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Additional information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab" aria-selected="false"></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false"></a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                                <div class="product-desc-content">
                                    <h3>Product Information</h3>
                                    <p>
                                        *Entrepreneurs Card (Available in Normal and Metallic):*
                                          Product Description: Our Entrepreneurs Card is more than a mere card; it's your entry into a thriving network of fellow visionaries. Choose between the classic Normal version or the sophisticated Metallic edition. Each card is equipped to share your contact information, access your digital profile, and grant you exclusive entry into a community of growth-oriented minds.
                                         </p>
                                    <ul>
                                        <li>Product Name: Entrepreneurs Card
                                            
                                            </li>
                                        <li>Product Tagline: Elevate Your Entrepreneurial Identity</li>
                                    </ul>

                                    <p></p>
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                                <div class="product-desc-content">
                                    <h3>Product Advantages:</h3>
                                    <p>
                                         </p>

                                    <h3></h3>
                                    <ul>
                                        <li>Seamless Networking: Share your details with a simple exchange of cards, sparking meaningful connections.</li>
                                        <li>Personalized Digital Profile: Access your comprehensive digital profile via the QR code, showcasing your achievements and ventures.</li>
                                        <li>Exclusive Community Access: Gain entry to curated sessions, meetups, and discounts, fostering a strong entrepreneurial ecosystem.</li>
                                        <li>Choice of Style: Opt for the classic Normal card or the elegant Metallic version that reflects your distinct entrepreneurial journey. </li>
                                    </ul>

                                    <h3></h3>
                                    <p></p>
                                </div>
                            <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                                
                                </div><!-- End .reviews -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .product-details-tab -->

                    <h2 class="title text-center mb-4">You May Also Like</h2><!-- End .title text-center -->
                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                        data-owl-options='{
                            "nav": false, 
                            "dots": true,
                            "margin": 20,
                            "loop": false,
                            "responsive": {
                                "0": {
                                    "items":1
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true,
                                    "dots": false
                                }
                            }
                        }'>
                        <div class="product product-7 text-center">
                            <figure class="product-media">
                                <span class="product-label label-new">New</span>
                                <a href="/product.html">
                                    <img src="{% static 'assets/images/fondex material/cards/creato.png' %}" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                    
                                </div><!-- End .product-action-vertical -->

                                <div id="item2"class="product-action">
                                    <a href="/checkout.html" data-product={{product.id}} data-action="add" class="btn-product btn-cart update-cart"><span>Buy Now</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">NFC Cards</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="/product.html">Creators Card (NFC)<br></a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    ₹699.00
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 85%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 20 Reviews )</span>
                                </div><!-- End .rating-container -->

                                
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product product-7 text-center">
                            <figure class="product-media">
                                <span class="product-label label-out">Out of Stock</span>
                                <a href="/product.html">
                                    <img src="{% static 'assets/images/fondex material/cards/g-card2.png'%}
                                    " alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">

                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>

                                </div><!-- End .product-action-vertical -->

                                <div id="item3" class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>Out of Stock</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">NFC Cards</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="/product.html">NFC Entrepreneurs Card</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    <span class="out-price">₹999.00</span>
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 6 Reviews )</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product product-7 text-center">
                            <figure class="product-media">
                                <span class="product-label label-top">Top</span>
                                <a href="/product.html">
                                    <img src="{% static 'assets/images/fondex material/founder.png' %}" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                    
                                </div><!-- End .product-action-vertical -->

                                <div id="item4" class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>Out of Stock</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">NFC Cards</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="/product.html">Business Card (NFC)</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    ₹799.00
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 12 Reviews )</span>
                                </div><!-- End .rating-container -->

                                
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        <div class="product product-7 text-center">
                            <figure class="product-media">
                                <a href="/product.html">
                                    <img src="{% static 'assets/images/fondex material/card1-bg.png' %}" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                    
                                </div><!-- End .product-action-vertical -->

                                <div id="item5" class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>Out of Stock</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">NFC Cards</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="/product.html">Fondex Card (NFC)</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    ₹699.00
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 0%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 0 Reviews )</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-body -->
                        </div><!-- End .product -->

                        {% comment %} <div class="product product-7 text-center"> {% endcomment %}
                            {% comment %} <figure class="product-media">
                                <a href="/product.html">
                                    <img src="{% static 'assets/images/products/product-7.jpg' %}" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                    <a href="#" class="btn-product-icon btn-compare" title="Compare"><span>Compare</span></a>
                                </div><!-- End .product-action-vertical -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>Out of Stock</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media --> {% endcomment %}

                            {% comment %} <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">Jeans</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title"><a href="/product.html">Blue utility pinafore denim dress</a></h3><!-- End .product-title -->
                                <div class="product-price">
                                    ₹76.00
                                </div><!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( 2 Reviews )</span>
                                </div><!-- End .rating-container -->
                            </div><!-- End .product-body --> {% endcomment %}
                        </div><!-- End .product -->
                    </div><!-- End .owl-carousel -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->


        <footer class="footer footer-2">
            <div class="cta bg-image bg-dark pt-4 pb-5 mb-0" style="background-image: url({% static 'assets/images/demos/demo-4/bg-5.jpg' %});">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-sm-10 col-md-8 col-lg-6">
                            <div class="cta-heading text-center">
                                <h3 class="cta-title text-white">Get The Latest Deals</h3><!-- End .cta-title -->
                                <p class="cta-desc text-white">and receive <span class="font-weight-normal">₹99 coupon</span> for first shopping</p><!-- End .cta-desc -->
                            </div><!-- End .text-center -->
                        
                            <form action="#">
                                <div class="input-group input-group-round">
                                    <input type="email" class="form-control form-control-white" placeholder="Enter your Email Address" aria-label="Email Adress" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit"><span>Subscribe</span><i class="icon-long-arrow-right"></i></button>
                                    </div><!-- .End .input-group-append -->
                                </div><!-- .End .input-group -->
                            </form>
                        </div><!-- End .col-sm-10 col-md-8 col-lg-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .cta -->
            <div class="footer-middle border-0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="widget widget-about">
                                <img src="{% static 'assets/images/fondex material/bg-logoo2.png' %}" class="footer-logo" alt="Footer Logo" width="105" height="25">
                                <p>Welcome to the Founder's Community company Website! We are a vibrant and dynamic community dedicated to empowering and connecting founders from various industries. 🤝💼
                                </p>
                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">Got Question? Call us 24/7</span>
                                            <a href="tel:+91 97676 11297">+91 97676 11297</a>
                                        </div><!-- End .col-sm-6 -->
                                        <div class="col-sm-6 col-md-8">
                                            <span class="widget-about-title">Payment Method</span>
                                            <figure class="footer-payments">
                                                <img src="{% static 'assets/images/payments.png' %}" alt="Payment methods" width="272" height="20">
                                            </figure><!-- End .footer-payments -->
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-3 -->
    
                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">FondeX Cards</h4><!-- End .widget-title -->
    
                                <ul class="widget-list">
                                    <li><a href="/about.html">Entrepreneurs Card</a></li>
                                    <li><a href="/about.html">NFC Entrepreneurs Card
                                    </a></li>
                                    <li><a href="/contact.html">Creators Card (NFC)</a></li>
                                    <li><a href="/shop.html">Business Card (NFC)</a></li>
                                    <li><a href="/shop.html">Gamers Card</a></li>
                                    <li><a href="/shop.html">Fondex Card</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->
    
                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->
    
                                <ul class="widget-list">
                                    <li><a href="/shop.html">Shopping</a></li>
                                    <li><a href="/contact.html">Contact Us</a></li>
                                    <li><a href="/about.html">About Us</a></li>
                                    <li><a href="/terms-conditions.html">Terms and conditions</a></li>
                                    <li><a href="/Privacy-Policy.html">Privacy Policy</a></li>
                                    <li><a href="#faq">Any Query</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->
    
                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->
    
                                <ul class="widget-list">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/cart.html">View Cart</a></li>
                                    <li><a href="/shop.html">Shop</a></li>
                                    <li><a href="/cart.html">CheckOut</a></li>
                                    <li><a href="/Privacy-Policy.html">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-64 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->
    
            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2023 Fondex Community. 
                    <ul class="footer-menu">
                        <li>Developed  By - <a href="https://WebWrite.tech" target="_blank"><strong class="webwrite">WebWrite Technologies</strong></a></li>
                        
                    </ul><!-- End .footer-menu -->
    
                    <div class="social-icons social-icons-color">
                        <span class="social-label">Social Media</span>
                         <a href="http://www.instagram.com/fondex.in" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                         <a href="https://www.linkedin.com/company/founders-community-in/" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-linkedin"></i></a>
                         <a href="mailto:info.fondex.in@gmail.com" class="social-icon social-envelope" title="Instagram" target="_blank"><i class="icon-envelope"></i></a>
                    </div><!-- End .soial-icons -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    
        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    
        <!-- Mobile Menu -->
        <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->
    
        <div class="mobile-menu-container mobile-menu-light">
            <div class="mobile-menu-wrapper">
                <span class="mobile-menu-close"><i class="icon-close"></i></span>
                
                <form action="#" method="get" class="mobile-search">
                    <label for="mobile-search" class="sr-only">Search</label>
                    <input type="search" class="form-control" name="mobile-search" id="mobile-search" placeholder="Search in..." required>
                    <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                </form>
    
                <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab" aria-controls="mobile-cats-tab" aria-selected="false">Categories</a>
                    </li>
                </ul>
    
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel" aria-labelledby="mobile-menu-link">
                        <nav class="mobile-nav">
                            <ul class="mobile-menu">
                                <li class="active">
                                    <a href="/">Home</a>
                                    <a href="/shop.html">Shop</a>
                                    <a href="/about.html">About Us</a>
                                    <a href="/contact.html">Contact Us</a>
    
                                   
                                </li>
                                
                        </nav><!-- End .mobile-nav -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                        <nav class="mobile-cats-nav">
                            <ul class="mobile-cats-menu">
                                <li><a class="mobile-cats-lead" href="#"> Entrepreneurs Card</a></li>
                                <li><a class="mobile-cats-lead" href="#"> Metallic NFC Enabled Entrepreneurs Card</a></li>
                                <li><a class="mobile-cats-lead" href="#">Fondex Card </a></li>
                                <li><a class="mobile-cats-lead" href="#"> Creators Card </a></li>
                                <li><a class="mobile-cats-lead" href="#"> Business Card:  </a></li>
                                <li><a class="mobile-cats-lead" href="#"> NFC Entrepreneurs Card</a></li>
                                
                            </ul><!-- End .mobile-cats-menu -->
                        </nav><!-- End .mobile-cats-nav -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
    
                <div class="social-icons">
                    <a href="https://www.linkedin.com/company/founders-community-in/" class="social-icon" target="_blank" title="linkedin"><i class="icon-linkedin"></i></a>
                    
                    <a href="http://www.instagram.com/fondex.in" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                  
                </div><!-- End .social-icons -->
            </div><!-- End .mobile-menu-wrapper -->
        </div><!-- End .mobile-menu-container -->
    
        
    
       
        <!-- Plugins JS File -->
    <script src="{% static 'assets/js/jquery.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.hoverIntent.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.waypoints.min.js'%}"></script>
    <script src="{% static 'assets/js/superfish.min.js'%}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap-input-spinner.js'%}"></script>
    <script src="{% static 'assets/js/jquery.plugin.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.countdown.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.countTo.js'%}"></script>
    <script src="{% static 'assets/js/jquery.countdown.min.js'%}"></script>

    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js'%}"></script>
    <script src="{% static 'assets/js/demos/demo-4.js'%}"></script>
    <script src="{% static 'assets/js/demos/demo-2.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/cart.js'%}"></script>
    </body>

    </html>