{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Fondex - Smart NFC Business Card</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Fondex - Smart NFC Business Card">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/fondex material/bg-logo.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'assets/images/fondex material/bg-logo.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'assets/images/fondex material/bg-logo.png' %}">
    <link rel="manifest" href="{% static 'assets/images/icons/site.htl">
    <link rel="mask-icon" href="assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="{% static 'assets/images/fondex material/bg-logo.png">
    <meta name="apple-mobile-web-app-title" content="FondeX">
    <meta name="application-name" content="FondeX">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="{% static 'assets/images/icons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/magnific-popup/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/plugins/jquery.countdown.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/skins/skin-demo-4.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/demos/demo-4.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/demos/demo-2.css' %}">
    
</head>

<body>
    <div class="page-wrapper">
        <header class="header header-intro-clearance header-4">
            <div class="header-top">
                <div class="container top-nav">
                    <div class="header-left">
                        <a href="tel:+91 97676 11297
                        "><i class="icon-phone"></i>Call: +91 97676 11297</a>
                    </div><!-- End .header-left -->

                    <div class="header-right">            
                       <div class="header-">
                        <a href="#"></a>                       
                    </div>
                    <div class="header-right">
                        <ul class="top-menu">
                            <li>
                                <a href="#"></a>
                                <div class="social-icons social-icons-color justify-content-center">
                                <ul>
                                   
                                    <li><a href="http://www.instagram.com/fondex.in" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a></li>
                                    <li><a href="https://www.linkedin.com/company/founders-community-in/" class="social-icon social-linkedin" title="linkedin" target="_blank"><i class="icon-linkedin-in"></i></a></li>
                                   
 
                                    <div class="col-md-4">
                                        <div class="contact-box text-center">
                                           
            
                                        </div><!-- End .contact-box -->
                                    </div><!-- End .col-md-4 -->
                                </ul>
                                
                            </li>
                            
                        </ul><!-- End .top-menu -->
                    </div><!-- End .header-right -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-top -->

            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">To</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="index.html" class="logo">
                            <img src="{% static 'assets/images/fondex material/bg-logoo2.png' %}" alt="FondeX Logo" width="105" height="25">
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <div class="header-search header-search-extended header-search-visible d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form method="get">
                                    <select name="Card" id="cars" onchange="window.location.href=this.value">
                                        <option name="Card" value="/p-01.html">Choose Your Card for Purchase</option>
                                        <option name="Card" value="/p-01.html">Entrepreneurs Card (Normal)</option>
                                        <option name="Card" value="/p-02.html">Entrepreneurs Card (Metellic)</option>
                                        <option name="Card" value="/p-03.html">Creators Card(Normal)</option>
                                        <option name="Card" value="/p-04.html">Creators Card(Matellic)</option>
                                    </select>
                            </form>
                        </div><!-- End .header-search -->
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-middle -->
            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                        <div class="dropdown category-dropdown">
                            <a href="/shop.html" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
                                Browse Categories <i class="icon-angle-down"></i>
                            </a>

                            <div class="dropdown-menu">
                                <nav class="side-nav">
                                    <ul class="menu-vertical sf-arrows">
                                        <li class="item-lead"><a href="/shop.html">Entrepreneurs Card</a></li>
                                        <li class="item-lead"><a href="/shop.html">NFC Entrepreneurs Card</a></li>
                                        <li class="item-lead"><a href="/shop.html">Creators Card (NFC)</a></li>
                                        <li class="item-lead"><a href="/shop.html">Business Card (NFC) </a></li>
                                        <li class="item-lead"><a href="/shop.html">Gamers Card</a></li>
                                        <li class="item-lead"><a href="/shop.html">Fondex Card</a></li>
                                        
                                       
                                    </ul><!-- End .menu-vertical -->
                                </nav><!-- End .side-nav -->
                            </div><!-- End .dropdown-menu -->
                        </div><!-- End .category-dropdown -->
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <nav class="main-nav">
                            <ul class="menu sf-arrows">
                                <li class="megamenu-container active">
                                    <a href="/" class="">Home</a>
                                </li>
                                <li>
                                    <a href="/shop.html" class="">Shop</a>

                                   
                                </li>
                                <li>
                                    <a href="/about.html" class="">About</a>

                                </li>
                                <li>
                                    <a href="/contact.html" class="">Contact</a>

                                
                                </li>
                                
                            </ul><!-- End .menu -->
                        </nav><!-- End .main-nav -->
                    </div><!-- End .header-center -->

                    <div class="header-right">
                        <i class="la la-lightbulb-o"></i><p>Clearance<span class="highlight">&nbsp;Up to 10% Off</span></p>
                    </div>
                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->



        <main class="main">
        	<div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Terms Conditions<span>Please read these Terms and Conditions carefully before using services.</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        
                        <li class="breadcrumb-item active" aria-current="page">Terms Conditions</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	

                    <div class="text-center">
                        <h2 class="">Acceptance of Terms</h2><!-- End .title -->
                         <h class="card-title"> 
                            By using our services, you agree to these Terms and Conditions. If you do not agree, please refrain from using our platform. </div><!-- End .text-center -->
                    <hr class="mt-4 mb-4">

                    <div class="text-center">
                        <h2 class=""> Proper Use </h2><!-- End .title -->
                        <h class="card-title">Our cards are intended for business networking and entrepreneurial purposes. Any misuse or non-business behavior by cardholders is not the responsibility of Fondex.
                        </h>    <!-- End .title --> <br><br>
                    </div><!-- End .text-center -->
                    <hr class="mt-4 mb-4">

                    <div class="text-center">
                        <h2 class="">  Eligibility</h2><!-- End .title -->
                        <h class="card-title">You must be of legal age to use our services. By using our platform, you represent and warrant that you meet this requirement.
                        </h>    <!-- End .title --> <br><br>
                    </div><!-- End .text-center -->
                    <hr class="mt-4 mb-4">

                    <div class="text-center">
                        <h2 class=""> Intellectual Property </h2><!-- End .title -->
                        <h class="card-title">The content on our platform is protected by intellectual property laws. You may not copy, modify, distribute, or otherwise use our content without our written permission.

                        </h>    <!-- End .title --> <br><br>
                    </div><!-- End .text-center -->
                    <hr class="mt-4 mb-4">

                    <div class="text-center">
                        <h2 class="">Limitation of Liability </h2><!-- End .title -->
                        <h class="card-title">Fondex is not responsible for any actions or behavior of cardholders. We provide a platform for networking and connections, but we cannot guarantee the actions of individuals.
                        </h>    <!-- End .title --> <br><br>
                    </div><!-- End .text-center -->
                    <hr class="mt-4 mb-4">
                    <div class="text-center">
                        <h2 class=""> Privacy</h2><!-- End .title -->
                        <h class="card-title">Your privacy is important to us. Refer to our Privacy Policy to understand how we collect, use, and protect your personal information.
                        </h>    <!-- End .title --> <br><br>
                    </div><!-- End .text-center -->
                    <hr class="mt-4 mb-4">
                    <div class="text-center">
                        <h2 class="">Modification of Terms</h2><!-- End .title -->
                        <h class="card-title">We reserve the right to modify these Terms and Conditions at any time. Your continued use of our platform signifies your acceptance of the update terms. 
                        </h>    <!-- End .title --> <br><br>
                    </div><!-- End .text-center -->
                    <hr class="mt-4 mb-4">

                </div><!-- End .container -->
            </div><!-- End .page-content -->

           
        </main><!-- End .main -->

        <footer class="footer footer-2">
            <div class="cta bg-image bg-dark pt-4 pb-5 mb-0" style="background-image: url({% static 'assets/images/demos/demo-4/bg-5.jpg'%});">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-sm-10 col-md-8 col-lg-6">
                            <div class="cta-heading text-center">
                                <h3 class="cta-title text-white">Get The Latest Deals</h3><!-- End .cta-title -->
                                <p class="cta-desc text-white">and receive <span class="font-weight-normal">₹99 coupon</span> for first shopping</p><!-- End .cta-desc -->
                            </div><!-- End .text-center -->
                        
                            <form method="POST" name='google-sheet'>
                                <div class="input-group input-group-round">
                                    <input name="E-mail" type="email" class="form-control form-control-white" placeholder="Enter your Email Address" aria-label="Email Adress" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-primary" type="submit" value="submit"><span>Subscribe</span><i class="icon-long-arrow-right"></i></button>
                                    </div><!-- .End .input-group-append -->
                                </div><!-- .End .input-group -->
                            </form>
                        </div><!-- End .col-sm-10 col-md-8 col-lg-6 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .cta -->
            <div class="footer-middle border-0">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-lg-6">
                            <div class="widget widget-about">
                                <img src="{% static 'assets/images/fondex material/bg-logoo2.png'%}" class="footer-logo" alt="Footer Logo" width="105" height="25">
                                <p>Welcome to the Founder's Community company Website! We are a vibrant and dynamic community dedicated to empowering and connecting founders from various industries. 🤝💼
                                </p>
                                <div class="widget-about-info">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4">
                                            <span class="widget-about-title">Got Question? Call us 24/7</span>
                                            <a href="tel:+91 97676 11297">+91 97676 11297</a>
                                        </div><!-- End .col-sm-6 -->
                                        <div class="col-sm-6 col-md-8">
                                            <span class="widget-about-title">Payment Method</span>
                                            <figure class="footer-payments">
                                                <img src="{% static 'assets/images/payments.png'%}" alt="Payment methods" width="272" height="20">
                                            </figure><!-- End .footer-payments -->
                                        </div><!-- End .col-sm-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .widget-about-info -->
                            </div><!-- End .widget about-widget -->
                        </div><!-- End .col-sm-12 col-lg-3 -->
    
                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">FondeX Cards</h4><!-- End .widget-title -->
    
                                <ul class="widget-list">
                                    <li><a class="" href="/p-01.html"> Entrepreneurs Card</a></li>
                                    <li><a class="" href="/p-01.html"> Metallic NFC Enabled Entrepreneurs Card</a></li>
                                    <li><a class="" href="/p-06.html">Fondex Card </a></li>
                                    <li><a class="" href="/p-03.html"> Creators Card </a></li>
                                    <li><a class="" href="/p-04.html"> Business Card:  </a></li>
                                    <li><a class="" href="/p-02.html"> NFC Entrepreneurs Card</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->
    
                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->
    
                                <ul class="widget-list">
                                    <li><a href="/shop.html">Shopping</a></li>
                                    <li><a href="/contact.html">Contact Us</a></li>
                                    <li><a href="/about.html">About Us</a></li>
                                    <li><a href="/terms-conditions.html">Terms and conditions</a></li>
                                    <li><a href="/Privacy-Policy.html">Privacy Policy</a></li>
                                    <li><a href="#faq">Any Query</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-4 col-lg-3 -->
    
                        <div class="col-sm-4 col-lg-2">
                            <div class="widget">
                                <h4 class="widget-title">My Account</h4><!-- End .widget-title -->
    
                                <ul class="widget-list">
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/cart.html">View Cart</a></li>
                                    <li><a href="/shop.html">Shop</a></li>
                                    <li><a href="/cart.html">CheckOut</a></li>
                                    <li><a href="/Privacy-Policy.html">Help</a></li>
                                </ul><!-- End .widget-list -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-64 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .footer-middle -->
    
            <div class="footer-bottom">
                <div class="container">
                    <p class="footer-copyright">Copyright © 2023 Fondex Community. 
                    <ul class="footer-menu">
                        <li>Developed  By - <a href="https://WebWrite.tech" target="_blank"><strong class="webwrite">WebWrite Technologies</strong></a></li>
                        
                    </ul><!-- End .footer-menu -->
    
                    <div class="social-icons social-icons-color">
                        <span class="social-label">Social Media</span>
                        <a href="https://www.linkedin.com/company/founders-community-in/" class="social-icon social-linkedin" title="linkedin" target="_blank"><i class="icon-linkedin-in"></i></a>
                        <a href="http://www.instagram.com/fondex.in" class="social-icon social-instagram" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                        <a href="mailto:info.fondex.in@gmail.com" class="social-icon social-envolve" title="Email" target="_blank"><i class="icon-envelope"></i></a>
                        
                    </div><!-- End .soial-icons -->
                </div><!-- End .container -->
            </div><!-- End .footer-bottom -->
        </footer><!-- End .footer -->
    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    
        <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>
    
        <!-- Mobile Menu -->
        <div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->
    
        <div class="mobile-menu-container mobile-menu-light">
            <div class="mobile-menu-wrapper">
                <span class="mobile-menu-close"><i class="icon-close"></i></span>
                
                <form method="get">
                    <select name="Card" id="cars" onchange="window.location.href=this.value">
                        <option name="Card" value="#">Choose Your Card for Purchase</option>
                        <option name="Card" value="/p-01.html">Entrepreneurs Card (Normal)</option>
                        <option name="Card" value="/p-02.html">NFC Entrepreneurs</option>
                        <option name="Card" value="/p-03.html">Creators Card(NFC)</option>
                        <option name="Card" value="/p-04.html">Business Card(NFC)</option>
                        <option name="Card" value="/p-05.html">Gamer Card(NFC)</option>
                        <option name="Card" value="/p-06.html">FondeX Card(NFC)</option>
                    </select>
            </form>
    
                <ul class="nav nav-pills-mobile nav-border-anim" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab" aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="mobile-cats-link" data-toggle="tab" href="#mobile-cats-tab" role="tab" aria-controls="mobile-cats-tab" aria-selected="false">Categories</a>
                    </li>
                </ul>
    
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel" aria-labelledby="mobile-menu-link">
                        <nav class="mobile-nav">
                            <ul class="mobile-menu">
                                <li class="active">
                                    <a href="index.html">Home</a>
                                    <a href="shop.html">Shop</a>
                                    <a href="about.html">About Us</a>
                                    <a href="contact.html">Contact Us</a>
    
                                   
                                </li>
                                
                        </nav><!-- End .mobile-nav -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="mobile-cats-tab" role="tabpanel" aria-labelledby="mobile-cats-link">
                        <nav class="mobile-cats-nav">
                            <ul class="mobile-cats-menu">
                                <li><a class="mobile-cats-lead" href="#"> Entrepreneurs Card</a></li>
                                <li><a class="mobile-cats-lead" href="#"> Metallic NFC Enabled Entrepreneurs Card</a></li>
                                <li><a class="mobile-cats-lead" href="#">Fondex Card </a></li>
                                <li><a class="mobile-cats-lead" href="#"> Creators Card </a></li>
                                <li><a class="mobile-cats-lead" href="#"> Business Card:  </a></li>
                                <li><a class="mobile-cats-lead" href="#"> NFC Entrepreneurs Card</a></li>
                                
                            </ul><!-- End .mobile-cats-menu -->
                        </nav><!-- End .mobile-cats-nav -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
    
                <div class="social-icons">
                    <a href="https://www.linkedin.com/company/founders-community-in/" class="social-icon" target="_blank" title="linkedin"><i class="icon-linkedin"></i></a>
                    
                    <a href="http://www.instagram.com/fondex.in" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                  
                </div><!-- End .social-icons -->
            </div><!-- End .mobile-menu-wrapper -->
        </div><!-- End .mobile-menu-container -->
    
        
    
       
         <!-- Plugins JS File -->
    <script src="{% static 'assets/js/jquery.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.hoverIntent.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.waypoints.min.js'%}"></script>
    <script src="{% static 'assets/js/superfish.min.js'%}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap-input-spinner.js'%}"></script>
    <script src="{% static 'assets/js/jquery.plugin.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.countdown.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.countTo.js'%}"></script>
    <script src="{% static 'assets/js/jquery.countdown.min.js'%}"></script>

    <!-- Main JS File -->
    <script src="{% static 'assets/js/main.js'%}"></script>
    <script src="{% static 'assets/js/demos/demo-4.js'%}"></script>
    <script src="{% static 'assets/js/demos/demo-2.js'%}"></script>
        {% comment %} <script type="text/javascript" src="{% static 'js/cart.js'%}"></script> {% endcomment %}
    </body>
    
    
    
    </html>